numpy
#git+git://github.com/n1nj4sec/memorpy
#git+git://github.com/matslindh/memorpy@python3-compatibility
#./memorpy
#./pymeow
psutil
#git+https://github.com/dpallot/simple-websocket-server.git
SimpleWebSocketServer
pymem
psycopg[binary,pool]
dearpygui
#git+https://github.com/hoffstadt/DearPyGui
orjson
brotli
#memray
scalene
zstandard
pympler
mem_edit
websockets
matplotlib
